.breadcrumbs {
    font-family: "Open Sans";
    font-size: 14px;
}

.breadcrumbs__list {
    display: flex;
    font-style: italic;
    
}

.breadcrumbs__item {
    margin-right: 5px;
}
.breadcrumbs__item:not(:last-of-type)::after{
    content: " / ";
}

.breadcrumbs__link {
    color: #f89513;
    text-decoration: none;
    border-bottom: 1px solid #f89513;
    transition: 0.2s;
}

.breadcrumbs__link:hover {
    border-bottom: none;
}

.breadcrumbs__link--active {
 color: #4e4c4c;
}
