.features-wrapper {
    background-color: #131415; 
}

.feature-wrapper{
    border: 1px solid black;
    margin-bottom: 64px;
}

.feature {
    color: black;
    text-align: center;
    width: 210px;
    margin: 0 auto;
    
}

.feature__description {
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px; 
    margin: 0 auto;
    margin-bottom: 22px;
}

.feature__text {
    font-size: 18px;
    font-family: "Open Sans";
    line-height: 1.42; 
    margin: 0 auto;
}

.feature__list {
    font-size: 18px;
    font-family: "Open Sans";
    text-align: left;
    line-height: 30px;
    margin-bottom: 30px; 
}

.feature__list-item:before {
    content: "•";
    display: inline-block;
    margin-right: 20px;
    padding-left: 10px;
}