.container-features {
    background-color: #131415; 
}

.feature-container{
    border: 1px solid black;
}
.features {
    display: block;
    width: 275px;
    margin: 0 auto;
}

.features {
    display: flex;
    justify-content: center; 
}

.feature {
    color: black;
    text-align: center;
    width: 210px; 
    margin-right: 70px;
}
.feature:last-of-type{
    margin-right: 0;
}

.feature__img {
    width: 68px;
    height: 68px;
    background-color: #f89513;
    border-radius: 50%;
    display: flex;
    margin: 0 auto; 
}
.feature__img-icon {
    align-self: center;
    justify-content: space-between;
    margin: 0 auto; 
}

.description {
    margin-top: 35px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px; 
}

.text {
    font-size: 18px;
    font-family: "Open Sans";
    line-height: 1.42; 
}

.feature-list {
    font-size: 18px;
    font-family: "Open Sans";
    text-align: left;
    line-height: 30px;
    padding-bottom: 30px; 
}

.feature-list__item:before {
    content: "•";
    display: inline-block;
    margin-right: 20px;
    padding-left: 10px;
}