@font-face {
    font-family: "Gora";
    src: url("../fonts/Gora-Free.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold; }
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans/OpenSans-LightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal; }