
.footer {
    flex: 0 0 auto;
    background-color: #131415;
}

.container-footer {
    width: 1060px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
}

.copyright {
    color: white;
    font-style: normal;
}

.copyright__text {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-top: 18px; 
}
.copyright__text a {
    color: white;
    font-weight: bold; 
}
.copyright__text b {
    font-weight: bold; 
}

.logo-footer {
    display: flex;
    margin: 0 auto;
    text-decoration: none; 
}
.social-container{
    display: flex;
    justify-content: center;

}

.social {
    align-self: center;
    color: black;
    margin-top: 18px; 
}

.social__text {
    font-weight: bold;
    font-family: "Open Sans";
    font-size: 14px; 
    margin-bottom: 10px;
}

.social__list {
    list-style: none;
    display: flex;
    justify-content: center;

}

.social__item {
    margin-right: 10px;
    display: flex;
}

.social__image {
    margin: 0 auto; 
}

.social__item-link {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: 0.2s; 
}
.social__item-link:hover {
    background-color: #f89513; 
}
.fb {
    background-image: url("../img/sprites/sprites_footer.png");
    background-position: -65px -15px;
}

.google {
    background-position: -118px -15px;
    background-image: url("../img/sprites/sprites_footer.png");
}

.mail {
    background-position: -64px -65px;
    background-image: url("../img/sprites/sprites_footer.png");
}

.twitter {
    background-position: -112px -64px;
    background-image: url("../img/sprites/sprites_footer.png");
}

.vk {
    background-position: -165px -17px;
    background-image: url("../img/sprites/sprites_footer.png");
}