footer{
    height: 75px;
    background: #131415;
    overflow: hidden;
    color: #ffffff;
    font-family: 'Open Sans',Arial, sans-serif;
}
.footer-container{
    width: 1100px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-container__author{
    width: 270px;
    font-weight: 300;
    font-size: 14px;
}
.footer-container__author a{
    font-weight: 700;
    text-decoration: underline;
    color: #ffffff;
}
.footer-container__author-name{
    font-weight: 700;
}
.footer-container__logo{
    font-family: 'Gora', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    color: #f89513;
}
.footer-container__social{
    display: flex;
    flex-direction: column;
}
.social__header{
    font-weight: 700;
    margin-bottom: 15px;
    
}
.social__list ul{
    display: flex;
    align-items: center;
}
.social__list li{
    width: 20px;
    height: 20px;
    background: #d0d0d0;
    border-radius: 50%;
    margin-right: 20px;
}
.social__list li:last-of-type{
    margin-right: 0;
}
.social__list li:hover{
    background: #f89513;
}