header{
    height: 75px;
    background: #131415;
    overflow: hidden;
    margin-bottom: 80px;
}
.header-container{
    width: 1100px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*header logo*/
.header-container__logo{
    margin-left: 20px;
    width: 200px;
    font-family: 'Gora', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    color: #f89513;
}
/*header logo end*/

/*header menu*/
.header-container__menu{
    font-family: 'Open Sans',Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
}
.header-menu{
    display: flex;
    align-items: baseline;

}
.header-menu li{
    margin-left: 20px;
}
.header-menu li:first-child{
    margin-left: 0;
}

.header-menu__icon{
    display: inline-block;
    
}

.header-menu__text{
    display: inline-block;
    margin-left: 20px;
    letter-spacing: 1px;
}
.header-menu a{
    text-decoration: none;
    color: #ffffff;
}
.header-menu__active-link{
    color: #f89513;
}
.header-menu a:hover{
    color: #f89513;
}


/*header menu end*/
/*header contacts*/
.header-container__contacts-container{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}

.contacts-phone{
    font-family: 'Open Sans',Arial, sans-serif;
    font-weight: 700;
    font-size: 21px;
    text-decoration: none;
    color: #ffffff;
}
.contacts-phone a{
    text-decoration: none;
    color: #ffffff;
}
.contacts-schedule{
    font-family: 'Open Sans',Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.contacts-schedule a{
    color: #f89513;
}
.contacts-schedule a:hover{
    color: #ffffff;
}
/*header contacts end*/