.container-intro {
    background-image: url("../img/gym-main.jpg");
    background-size: cover;
    width:100%;
    height: 100%;
}

.container-intro:after {
    content: "";
    background-color: black;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
}

.intro-logo-wrapper {
    height: 100%;
    display: flex;
    z-index: 10;
}

.intro-logo {
    margin: auto;
}

.intro-logo__img {
    width: 100%;
    display: block;
    margin-bottom: 36px;
    animation: scaleIntro 1s 0s;
}

.intro-logo__link {
    display: block;
    text-align: center;
    background-color: #131415;    
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 17px 22px 15px 22px;
    transition: 0.2s;
}

.intro-logo__link:hover {
    background-color: #f89513;
}

@keyframes scaleIntro {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    30% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }
    70% {
        transform: scale(1);
    }
    85% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}
