ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
h1{
    margin: 0;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}
h4{
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.banner{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}
.features{
    background: #131415;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    font-family: 'Open Sans',Arial, sans-serif;
    color: #ffffff;
}
.fetures__header{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 49px;
    letter-spacing: 2px;
    margin: 55px;
    width: 100%;
    text-align: center;
}
.features__item{
    width: 200px;
    margin-left: 70px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    
}
.features__item:first-of-type{
    margin-left: 0;
}
.features__item-header{
    width: 73px;
    height: 73px;
    background: #f89513;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.features__item-header img{

    display: block;
    margin: auto;
}
.features__item-name{

    margin-bottom: 25px;

}
.features__item-name h3{
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 800;
    font-size: 11px;
}
.features__item-body{
    text-align: center;
    line-height: 25px;

}
.features__item-body ul{
    list-style: disc;
    text-align: left;
    line-height: 35px;
    list-style-position: inside;
}
.features__item-body h4{
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 8px;
}
