
.blockquote-wrapper {
    margin-top: 66px;
    width: 100%;
    background-color: #131415;
    background-image: url('../img/guest-book/pattern.png');
    margin-bottom: 62px;
}

.blockquote {
    color: white;
    font-size: 18px;
    font-family: "Open Sans";
    line-height: 1.62em;
    padding-top: 28px;
    padding-bottom: 36px;
    width: 641px;
    margin: 0 auto;
}

.blockquote b {
    color: #f89513;
}