.caption-services {
    font-size: 18px;
    text-align: center;

}
.caption-services--header {
    display: block;
    margin-bottom: 50px;

}
.caption-services-main{
    font-size: 48px;
}

.services__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.services__img {
    width: 100%;
    height: 153px;
    overflow: hidden;
    background-size: cover;
    position: relative;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

.services__img:before {
    content: "";
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 153px;
    display: block;
    position: absolute;
}

.services__img-caption {
    position: absolute;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    top: 0;
    top: 50%;
    transform: translateY(-12px);
}

.services__item {
    width: 29%;
    margin-right: 44px;
    box-sizing: border-box;
}
.services__item:nth-child(3n) {
    margin-right: 0;
}

.news-item__caption_service {
    margin-top: 27px;
    font-family: "Open Sans";
}

.text_services {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 72px;
}

.logo-service__list {
    display: flex;
    flex-wrap: wrap;
}

.logo-service__item {
    width: 100%;
    margin-bottom: 50px;
}
.logo-service__item:last-of-type {
    margin-bottom: 30px;
}

.logo-service__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    filter: grayscale(100%);
    transition: 0.2s;
}

.logo-service__link:hover {
    filter: none;
}

.logo-service__image {
    margin: 0 auto;
    display: block;
}

.container-inner {
    width: 880px;
    margin: 0 auto;
}
.container-partners{
    width: 100%;
    border: 1px solid black;
    margin: 0 auto;
}